{% extends "patient_layout.html" %}

{% block content %}
  {% for appointment in appointments %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ appointment.providerName }}</a>
        </div>
        <h2><a class="article-title" href={{url_for('visit', visitID = appointment.visitID)}}>{{ appointment.visitDate }}</a></h2>
        <p class="article-content">{{ appointment.visitStatus }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
