{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a Patient Below</legend>
                <div class="form-group">
                    {{ form.patientName.label(class="form-control-label") }}

                    {% if form.patientName.errors %}
                        {{ form.patientName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.patientName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.patientName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.patientAddress.label(class="form-control-label") }}
                    {% if form.patientAddress.errors %}
                        {{ form.patientAddress(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.patientAddress.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.patientAddress(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.patientPhone.label(class="form-control-label") }}
                    {% if form.patientPhone.errors %}
                    {{ form.patientPhone(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.patientPhone.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.patientPhone(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.patientEmail.label(class="form-control-label") }}
                    {% if form.patientEmail.errors %}
                    {{ form.patientEmail(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.patientEmail.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.patientEmail(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.patientPCP.label }}
                    <div>
                        {{ form.patientPCP }}
                    </div>

                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <!--<div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>-->
{% endblock content %}