{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        Patient Profile - {{patient_details[0][1]}}
      </div>
      <br>
      <div>
        Address: {{patient_details[0][2]}}
        <br>
        Phone: {{patient_details[0][3]}}
        <br>
        Email: {{patient_details[0][5]}}
        <br>
      </div>
      <br>
      <div>
        Primary Care Provider: {{patient_details[0][4]}}
        <br>
        Next Appointment:
        <br>
        Upcoming Lab Tests:
        <br>
      </div>
      <br>
      <div>
        Medications:
        <br>
        Allergies:
        <br>
        Health Issues:
        <br>
      </div>
    </div>
  </article>
{% endblock content %}
