<table border="1" cellpadding="5" cellspacing="5">
	<h1>Patient Table</h1>
		{% for row in patient %}
		    <tr>
		    {% for d in row %}
		        <td>{{ d }}</td>
		    {% endfor %}
		    </tr>
		{% endfor %}
</table>
<table border="1" cellpadding="5" cellspacing="5">
	<h1>Provider Table</h1>	
		{% for row in provider %}
		    <tr>
		    {% for d in row %}
		        <td>{{ d }}</td>
		    {% endfor %}
		    </tr>
		{% endfor %}
</table>
<table border="1" cellpadding="5" cellspacing="5">
	<h1>Message Table</h1>	
		{% for row in message %}
		    <tr>
		    {% for d in row %}
		        <td>{{ d }}</td>
		    {% endfor %}
		    </tr>
		{% endfor %}
</table>
<table border="1" cellpadding="5" cellspacing="5">
	<h1>Visit Table</h1>	
		{% for row in visit %}
		    <tr>
		    {% for d in row %}
		        <td>{{ d }}</td>
		    {% endfor %}
		    </tr>
		{% endfor %}			
</table>